@import "tailwindcss";

@theme {
  --font-display: "Georgia", "Times New Roman", serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #1c1917; /* stone-900 */
  color: #e7e5e4; /* stone-200 */
}
